.dockerignore
.gitignore
.pre-commit-config.yaml
/.git/
/.github/
/build/
/cpp
/data/
/logs/
/pretrained_weights/
/resources/
/tests/
/total_segmenter.egg-info/
/WIP/
CHANGELOG.md
cufile.log
Dockerfile
