.DS_Store
.idea
.pytest_cache/
.ruff_cache/
.vscode
*.egg-info
*.gz
*.nii*
*.npz
*.pyc
*.tar
*.zip
/build/
/cpp/
/data/
/data_errors/
/logs/
/outputs/
/pretrained_weights/
/wandb/
/WIP/
CMakeLists.txt
cufile.log
nohup.out
secrets.env
verified_images.txt
